In [1]:
import pandas as pd

In [3]:
df_reg_iv = pd.read_csv("df_regression_iv.csv")

In [5]:
df_reg_iv.head(5)

,cusip,date,bas,tno,mktcap,price_ind,volume,illiq,volatility,synch,ind_own,act_own,ins_own,auto_lag1,auto_lag2,auto_lag3,auto_lag4,assigned_to_R2000
0,00030710,2014-12-31,0.084839,332.131683,178.587706,0.039206,7.001668,1.135563,0.277043,-3.648,0.012341,0.084358,0.234046,0.041,0.169,0.203,0.078,0
1,00030710,2015-03-31,0.051639,443.806176,274.286735,0.034110,9.355878,1.095236,0.317542,-1.841,0.012512,0.131629,0.329042,0.223,0.120,0.025,0.305,0
2,00030710,2015-06-30,0.046190,581.424544,465.762113,0.027190,12.664008,0.313499,0.249738,-2.326,0.017502,0.114851,0.349641,0.106,0.062,0.202,0.156,1
3,00030710,2015-09-30,0.037813,1781.617029,1163.143293,0.034324,39.924256,0.323917,0.566251,-2.329,0.018516,0.079556,0.454014,0.015,0.006,0.257,0.141,1
4,00030710,2015-12-31,0.033125,722.549560,382.781106,0.042296,16.190168,0.493992,0.287310,-2.362,0.019065,0.064583,0.407283,0.204,0.004,0.096,0.049,1