In [10]:
import time
import pandas as pd
import numpy as np

In [2]:
Russell_3 = pd.read_csv("RR_data/Russell_3_rank.csv")

### Concstruct the Instrument
- a binary indicator for whether a firm is assigned to the Russell 2000 Index, based on its market-cap rank near the annual June reconstitution.

In [13]:
# Define cutoff for Russell 2000 assignment
cutoff = 1000

# Create instrument: 1 if Rank >= cutoff (assigned to Russell 2000), else 0
Russell_3['assigned_to_R2000'] = (Russell_3['Rank'] >= cutoff).astype(int)

In [14]:
Russell_3.head(5)

,permno,permco,cusip,date,mrkcap_crsp,tot_mrkcap_crsp,cusip_co,gvkey,prccm,cshom,prccm_vw,tot_mktcap_comp,ajexm,cshoq,ajexq,tot_mktcap_COMP_ALL,tot_mktcap_r3,mkt_value,Rank,assigned_to_R2000
0,10001,7953,36720410,1999-05-31,22.326159,22.326159,367204,12994.0,9.221875,2.421600,9.221875,22.331692,1.5,2.427,1.5,22.381491,22.381491,22.381491,7224.0,1
1,10001,7953,36720410,2000-05-31,19.845000,19.845000,367204,12994.0,8.053977,2.457000,8.053977,19.788622,1.5,2.464,1.5,19.845000,19.845000,19.845000,7334.0,1
2,10001,7953,36720410,2001-05-31,25.670491,25.670491,367204,12994.0,10.231364,2.491000,10.231364,25.486327,1.5,2.509,1.5,25.670491,25.670491,25.670491,6363.0,1
3,10001,7953,36720410,2002-05-31,25.102251,25.102251,367204,12994.0,9.763614,2.569818,9.763614,25.090712,1.5,2.571,1.5,25.102251,25.102251,25.102251,6030.0,1
4,10001,7953,36720410,2003-05-31,16.288589,16.288589,367204,12994.0,6.280857,2.591714,6.280857,16.278187,1.5,2.593,1.5,16.286263,16.288589,16.288589,6136.0,1

In [15]:
print("Maximum Rank in Russell_3:", Russell_3['Rank'].max())

Maximum Rank in Russell_3: 9581.0

#### drop rank > 5000 to avoid noise
- those firms are small and have little impact on study

In [16]:
before = len(Russell_3)
Russell_3 = Russell_3[Russell_3['Rank'] <= 5000].copy()
after = len(Russell_3)
print(f"Dropped {before - after} rows with Rank > 5000.")

Dropped 67408 rows with Rank > 5000.

In [17]:
file_path_1 = './RR_data/df_rank_iv.csv' 
Russell_3.to_csv(file_path_1, index=False)