In [2]:
import pandas as pd
import numpy as np

### Current Issue: same company, different issues links to different cusip issuers
- for example, cusip: 00253520 and 74319R10 links to same company: permco 5674 in CRSP AND gvkey 001076 in Compustat

In [3]:
# Load from CSV
df_mktcap_cshoq = pd.read_csv("RR_data/mktcap_cshoq.csv")

In [4]:
df_mktcap_comp_monthly = pd.read_csv("RR_data/mktcap_comp_monthly.csv")
#df_secm_1 = pd.read_csv("RR_data/secm_1.csv")

In [5]:
df_mktcap_crsp_monthly = pd.read_csv("RR_data/mktcap_crsp_monthly.csv")

In [29]:
cshoq_ffill_may = pd.read_csv("RR_data/cshoq_ffill_may.csv")

In [6]:
df_mktcap_cshoq_check = df_mktcap_cshoq[['gvkey', 'date', 'tot_mktcap_comp', 'cusip_co', 'ajexm', 'ajexq']]

In [25]:
print(df_mktcap_crsp_monthly.loc[df_mktcap_crsp_monthly['cusip'] == "00253520"])

        permno  permco     cusip        date  mrkcap_crsp  tot_mrkcap_crsp
250115   78049    5674  00253520  2000-05-31   213.261177       272.686021
250116   78049    5674  00253520  2000-06-30   218.958937       277.170585
250117   78049    5674  00253520  2000-07-31          NaN              NaN
250118   78049    5674  00253520  2000-08-31          NaN              NaN
250119   78049    5674  00253520  2000-09-30          NaN              NaN
...        ...     ...       ...         ...          ...              ...
250208   78049    5674  00253520  2008-02-29          NaN              NaN
250209   78049    5674  00253520  2008-03-31          NaN              NaN
250210   78049    5674  00253520  2008-04-30          NaN              NaN
250211   78049    5674  00253520  2008-05-31  1069.780035      1245.309685
250212   78049    5674  00253520  2008-06-30  1066.813738      1241.759358

[98 rows x 6 columns]

In [28]:
print(df_mktcap_crsp_monthly.loc[df_mktcap_crsp_monthly['cusip'] == "74319R10"])

      permno  permco     cusip        date  mrkcap_crsp  tot_mrkcap_crsp
8096   10517    5674  74319R10  2000-05-31    59.424844       272.686021
8097   10517    5674  74319R10  2000-06-30    58.211648       277.170585
8098   10517    5674  74319R10  2000-07-31          NaN              NaN
8099   10517    5674  74319R10  2000-08-31          NaN              NaN
8100   10517    5674  74319R10  2000-09-30          NaN              NaN
...      ...     ...       ...         ...          ...              ...
8189   10517    5674  74319R10  2008-02-29          NaN              NaN
8190   10517    5674  74319R10  2008-03-31          NaN              NaN
8191   10517    5674  74319R10  2008-04-30          NaN              NaN
8192   10517    5674  74319R10  2008-05-31   175.529650      1245.309685
8193   10517    5674  74319R10  2008-06-30   174.945620      1241.759358

[98 rows x 6 columns]

In [13]:
print(df_mktcap_comp_monthly.loc[df_mktcap_comp_monthly['gvkey'] == 1076])

     gvkey        date      prccm      cshom   prccm_vw  tot_mktcap_comp
486   1076  1999-05-31  16.915095  20.003900  16.964880       338.367861
487   1076  1999-06-30  18.565558  19.946000  18.642460       370.308619
488   1076  2000-05-31  14.161216  19.816545  14.199810       280.626383
489   1076  2000-06-30  13.979452  19.827000  14.009958       277.170585
490   1076  2001-05-31  17.067514  19.895818  17.087693       339.572150
491   1076  2001-06-30  17.682574  19.913000  17.716969       352.113089
492   1076  2002-05-31  27.073811  19.943364  27.078578       539.942848
493   1076  2002-06-30  22.198537  21.088000  22.212706       468.122752
494   1076  2003-05-31  22.519237  21.716571  22.534759       489.040608
495   1076  2003-06-30  25.014385  21.717000  25.025634       543.237403
496   1076  2004-05-31  27.851621  33.079650  27.896529       921.321872
497   1076  2004-06-30  29.973729  33.090000  30.006931       991.830691
498   1076  2005-05-31  22.268917  49.773714  22.304113      1108.406709
499   1076  2005-06-30  23.616108  49.780000  23.648044      1175.609854
500   1076  2006-05-31  26.289219  51.547818  26.316218      1355.151861
501   1076  2006-06-30  25.943785  53.502000  25.971852      1388.044409
502   1076  2007-05-31  27.733452  54.179909  27.773793      1502.595883
503   1076  2007-06-30  28.369273  54.184000  28.416794      1537.160678
504   1076  2008-05-31  23.367611  53.260952  23.409849      1244.581227
505   1076  2008-06-30  23.313637  53.256000  23.357196      1241.591079
506   1076  2009-05-31  30.674905  54.126200  30.793242      1660.316060
507   1076  2009-06-30  30.616530  54.172000  30.775396      1658.558681
508   1076  2010-05-31  20.218310  81.483000  20.321102      1647.448562
509   1076  2010-06-30  18.781574  81.485000  18.881833      1530.416527
510   1076  2011-05-31  27.622381  80.027429  27.622381      2210.548119
511   1076  2011-06-30  26.809545  80.010000  26.809545      2145.031732
512   1076  2012-05-31  26.591818  76.041182  26.591818      2022.073281
513   1076  2012-06-30  27.261905  76.045000  27.261905      2073.131548
514   1076  2013-05-31  28.538182  75.794273  28.538182      2163.030736
515   1076  2013-06-30  28.023000  75.806000  28.023000      2124.311538
516   1076  2014-05-31  32.052857  72.228000  32.052857      2315.113766
517   1076  2014-06-30  34.614286  72.232000  34.614286      2500.259086
518   1076  2015-05-31  35.235500  72.565500  35.235500      2556.881675
519   1076  2015-06-30  35.165455  72.574000  35.165455      2552.097698
520   1076  2016-05-31  24.748571  72.749810  24.748571      1800.453857
521   1076  2016-06-30  23.167727  72.750000  23.167727      1685.452159
522   1076  2017-05-31  35.695909  70.777682  35.695909      2526.473696
523   1076  2017-06-30  39.075000  70.660000  39.075000      2761.039500
524   1076  2018-05-31  40.559545  70.345000  40.559545      2853.161225
525   1076  2018-06-30  43.167619  70.345000  43.167619      3036.626162
526   1076  2019-05-31  55.545455  67.677000  55.545455      3759.149727
527   1076  2019-06-30  59.255500  67.677000  59.255500      4010.234474
528   1076  2020-05-31  33.210000  67.571100  33.210000      2244.036231
529   1076  2020-06-30  43.819545  67.572000  43.819545      2960.974325
530   1076  2021-05-31  53.598500  67.350000  53.598500      3609.858975
531   1076  2021-06-30  51.077727  67.383545  51.077727      3441.798357
532   1076  2022-05-31  27.330952  54.043000  27.330952      1477.046660
533   1076  2022-06-30  21.876190  54.043000  21.876190      1182.254962
534   1076  2023-05-31  31.485455  46.744000  31.485455      1471.756087
535   1076  2023-06-30  33.175238  46.744000  33.175238      1550.743330
536   1076  2024-05-31  35.436364  43.175000  35.436364      1529.965000
537   1076  2024-06-30  35.581579  43.175000  35.581579      1536.234671

In [10]:
print(df_mktcap_cshoq.loc[df_mktcap_cshoq['gvkey'] == 1076])

     gvkey        date      prccm      cshom   prccm_vw  tot_mktcap_comp  \
244   1076  1999-05-31  16.915095  20.003900  16.964880       338.367861
245   1076  1999-05-31  16.915095  20.003900  16.964880       338.367861
246   1076  2000-05-31  14.161216  19.816545  14.199810       280.626383
247   1076  2000-05-31  14.161216  19.816545  14.199810       280.626383
248   1076  2001-05-31  17.067514  19.895818  17.087693       339.572150
249   1076  2001-05-31  17.067514  19.895818  17.087693       339.572150
250   1076  2002-05-31  27.073811  19.943364  27.078578       539.942848
251   1076  2002-05-31  27.073811  19.943364  27.078578       539.942848
252   1076  2003-05-31  22.519237  21.716571  22.534759       489.040608
253   1076  2003-05-31  22.519237  21.716571  22.534759       489.040608
254   1076  2004-05-31  27.851621  33.079650  27.896529       921.321872
255   1076  2004-05-31  27.851621  33.079650  27.896529       921.321872
256   1076  2005-05-31  22.268917  49.773714  22.304113      1108.406709
257   1076  2005-05-31  22.268917  49.773714  22.304113      1108.406709
258   1076  2006-05-31  26.289219  51.547818  26.316218      1355.151861
259   1076  2006-05-31  26.289219  51.547818  26.316218      1355.151861
260   1076  2007-05-31  27.733452  54.179909  27.773793      1502.595883
261   1076  2007-05-31  27.733452  54.179909  27.773793      1502.595883
262   1076  2008-05-31  23.367611  53.260952  23.409849      1244.581227
263   1076  2008-05-31  23.367611  53.260952  23.409849      1244.581227
264   1076  2009-05-31  30.674905  54.126200  30.793242      1660.316060
265   1076  2009-05-31  30.674905  54.126200  30.793242      1660.316060
266   1076  2010-05-31  20.218310  81.483000  20.321102      1647.448562
267   1076  2010-05-31  20.218310  81.483000  20.321102      1647.448562
268   1076  2011-05-31  27.622381  80.027429  27.622381      2210.548119
269   1076  2012-05-31  26.591818  76.041182  26.591818      2022.073281
270   1076  2013-05-31  28.538182  75.794273  28.538182      2163.030736
271   1076  2014-05-31  32.052857  72.228000  32.052857      2315.113766
272   1076  2015-05-31  35.235500  72.565500  35.235500      2556.881675
273   1076  2016-05-31  24.748571  72.749810  24.748571      1800.453857
274   1076  2017-05-31  35.695909  70.777682  35.695909      2526.473696
275   1076  2018-05-31  40.559545  70.345000  40.559545      2853.161225
276   1076  2019-05-31  55.545455  67.677000  55.545455      3759.149727
277   1076  2020-05-31  33.210000  67.571100  33.210000      2244.036231
278   1076  2021-05-31  53.598500  67.350000  53.598500      3609.858975
279   1076  2022-05-31  27.330952  54.043000  27.330952      1477.046660
280   1076  2023-05-31  31.485455  46.744000  31.485455      1471.756087
281   1076  2024-05-31  35.436364  43.175000  35.436364      1529.965000

    cusip_co  ajexm   cshoq  ajexq    year month_day
244   002535  3.375  20.039  3.375  1999.0     05-31
245   74319R  3.375  20.039  3.375  1999.0     05-31
246   002535  3.375  19.894  3.375  2000.0     05-31
247   74319R  3.375  19.894  3.375  2000.0     05-31
248   002535  3.375  19.871  3.375  2001.0     05-31
249   74319R  3.375  19.871  3.375  2001.0     05-31
250   002535  3.375  19.928  3.375  2002.0     05-31
251   74319R  3.375  19.928  3.375  2002.0     05-31
252   002535  3.375  21.715  3.375  2003.0     05-31
253   74319R  3.375  21.715  3.375  2003.0     05-31
254   002535  2.250  33.071  2.250  2004.0     05-31
255   74319R  2.250  33.071  2.250  2004.0     05-31
256   002535  1.500  49.773  1.500  2005.0     05-31
257   74319R  1.500  49.773  1.500  2005.0     05-31
258   002535  1.500  50.486  1.500  2006.0     05-31
259   74319R  1.500  50.486  1.500  2006.0     05-31
260   002535  1.500  54.174  1.500  2007.0     05-31
261   74319R  1.500  54.174  1.500  2007.0     05-31
262   002535  1.500  53.245  1.500  2008.0     05-31
263   74319R  1.500  53.245  1.500  2008.0     05-31
264   002535  1.500  53.953  1.500  2009.0     05-31
265   74319R  1.500  53.953  1.500  2009.0     05-31
266   002535  1.000  54.316  1.500  2010.0     05-31
267   74319R  1.000  54.316  1.500  2010.0     05-31
268   74319R  1.000  79.984  1.000  2011.0     05-31
269   74319R  1.000  76.044  1.000  2012.0     05-31
270   74319R  1.000  75.804  1.000  2013.0     05-31
271   74319R  1.000  72.217  1.000  2014.0     05-31
272   74319R  1.000  72.540  1.000  2015.0     05-31
273   74319R  1.000  72.749  1.000  2016.0     05-31
274   74319R  1.000  70.643  1.000  2017.0     05-31
275   74319R  1.000  70.173  1.000  2018.0     05-31
276   74319R  1.000  67.677  1.000  2019.0     05-31
277   74319R  1.000  67.086  1.000  2020.0     05-31
278   74319R  1.000  67.350  1.000  2021.0     05-31
279   74319R  1.000  54.418  1.000  2022.0     05-31
280   74319R  1.000  46.742  1.000  2023.0     05-31
281   74319R  1.000  43.174  1.000  2024.0     05-31

In [35]:
gv_1076_comp = df_mktcap_cshoq_check.loc[df_mktcap_cshoq_check['gvkey'] == 1076]
gv_1076_comp

     gvkey        date  tot_mktcap_comp cusip_co  ajexm  ajexq
244   1076  1999-05-31       338.367861   002535  3.375  3.375
245   1076  1999-05-31       338.367861   74319R  3.375  3.375
246   1076  2000-05-31       280.626383   002535  3.375  3.375
247   1076  2000-05-31       280.626383   74319R  3.375  3.375
248   1076  2001-05-31       339.572150   002535  3.375  3.375
249   1076  2001-05-31       339.572150   74319R  3.375  3.375
250   1076  2002-05-31       539.942848   002535  3.375  3.375
251   1076  2002-05-31       539.942848   74319R  3.375  3.375
252   1076  2003-05-31       489.040608   002535  3.375  3.375
253   1076  2003-05-31       489.040608   74319R  3.375  3.375
254   1076  2004-05-31       921.321872   002535  2.250  2.250
255   1076  2004-05-31       921.321872   74319R  2.250  2.250
256   1076  2005-05-31      1108.406709   002535  1.500  1.500
257   1076  2005-05-31      1108.406709   74319R  1.500  1.500
258   1076  2006-05-31      1355.151861   002535  1.500  1.500
259   1076  2006-05-31      1355.151861   74319R  1.500  1.500
260   1076  2007-05-31      1502.595883   002535  1.500  1.500
261   1076  2007-05-31      1502.595883   74319R  1.500  1.500
262   1076  2008-05-31      1244.581227   002535  1.500  1.500
263   1076  2008-05-31      1244.581227   74319R  1.500  1.500
264   1076  2009-05-31      1660.316060   002535  1.500  1.500
265   1076  2009-05-31      1660.316060   74319R  1.500  1.500
266   1076  2010-05-31      1647.448562   002535  1.000  1.500
267   1076  2010-05-31      1647.448562   74319R  1.000  1.500
268   1076  2011-05-31      2210.548119   74319R  1.000  1.000
269   1076  2012-05-31      2022.073281   74319R  1.000  1.000
270   1076  2013-05-31      2163.030736   74319R  1.000  1.000
271   1076  2014-05-31      2315.113766   74319R  1.000  1.000
272   1076  2015-05-31      2556.881675   74319R  1.000  1.000
273   1076  2016-05-31      1800.453857   74319R  1.000  1.000
274   1076  2017-05-31      2526.473696   74319R  1.000  1.000
275   1076  2018-05-31      2853.161225   74319R  1.000  1.000
276   1076  2019-05-31      3759.149727   74319R  1.000  1.000
277   1076  2020-05-31      2244.036231   74319R  1.000  1.000
278   1076  2021-05-31      3609.858975   74319R  1.000  1.000
279   1076  2022-05-31      1477.046660   74319R  1.000  1.000
280   1076  2023-05-31      1471.756087   74319R  1.000  1.000
281   1076  2024-05-31      1529.965000   74319R  1.000  1.000

In [7]:
gv_178073_comp = df_mktcap_cshoq_check.loc[df_mktcap_cshoq_check['gvkey'] == 178073]
gv_178073_comp

         gvkey        date  tot_mktcap_comp cusip_co  ajexm  ajexq
249049  178073  2008-05-31       480.190714   02149U   1.00  0.525
249050  178073  2008-05-31       480.190714   05580M   0.05  0.525
249051  178073  2009-05-31       501.794134   02149U   1.00  0.525
249052  178073  2009-05-31       501.794134   05580M   0.05  0.525
249053  178073  2010-05-31        56.458526   05580M   0.05  0.050
249054  178073  2011-05-31         9.699756   05580M   0.05  0.050
249055  178073  2012-05-31         4.914981   05580M   0.05  0.050
249056  178073  2013-05-31        11.193847   05580M   0.05  0.050
249057  178073  2014-05-31         8.449416   05580M   0.05  0.050
249058  178073  2015-05-31       174.553665   05580M   1.00  1.000
249059  178073  2016-05-31       183.705978   05580M   1.00  1.000
249060  178073  2017-05-31       280.811694   05580M   1.00  1.000
249061  178073  2018-05-31       544.517127   05580M   1.00  1.000
249062  178073  2019-05-31       516.749709   05580M   1.00  1.000
249063  178073  2020-05-31       461.888156   05580M   1.00  1.000
249064  178073  2021-05-31      1979.619232   05580M   1.00  1.000
249065  178073  2022-05-31      1408.396453   05580M   1.00  1.000
249066  178073  2023-05-31       989.046101   05580M   1.00  1.000
249067  178073  2024-05-31       924.630941   05580M   1.00    NaN

In [8]:
gv_178073_cos = df_mktcap_cshoq.loc[df_mktcap_cshoq_check['gvkey'] == 178073]
gv_178073_cos

,gvkey,date,prccm,cshom,prccm_vw,tot_mktcap_comp,cusip_co,ajexm,cshoq,ajexq,year,month_day
249049,178073,2008-05-31,9.279048,51.750000,9.279048,480.190714,02149U,1.00,39.330,0.525,2008.0,05-31
249050,178073,2008-05-31,9.279048,51.750000,9.279048,480.190714,05580M,0.05,39.330,0.525,2008.0,05-31
249051,178073,2009-05-31,9.696505,51.750000,9.696505,501.794134,02149U,1.00,39.330,0.525,2009.0,05-31
249052,178073,2009-05-31,9.696505,51.750000,9.696505,501.794134,05580M,0.05,39.330,0.525,2009.0,05-31
249053,178073,2010-05-31,1.862150,30.319000,1.862150,56.458526,05580M,0.05,30.319,0.050,2010.0,05-31
249054,178073,2011-05-31,0.315238,30.769619,0.315238,9.699756,05580M,0.05,30.742,0.050,2011.0,05-31
249055,178073,2012-05-31,0.161136,30.502000,0.161136,4.914981,05580M,0.05,30.002,0.050,2012.0,05-31
249056,178073,2013-05-31,0.373091,30.003000,0.373091,11.193847,05580M,0.05,30.003,0.050,2013.0,05-31
249057,178073,2014-05-31,0.281619,30.003000,0.281619,8.449416,05580M,0.05,30.003,0.050,2014.0,05-31
249058,178073,2015-05-31,10.707500,16.302000,10.707500,174.553665,05580M,1.00,16.302,1.000,2015.0,05-31
249059,178073,2016-05-31,10.000714,18.369286,10.000714,183.705978,05580M,1.00,16.615,1.000,2016.0,05-31
249060,178073,2017-05-31,14.431818,19.457818,14.431818,280.811694,05580M,1.00,19.307,1.000,2017.0,05-31
249061,178073,2018-05-31,20.947727,25.994091,20.947727,544.517127,05580M,1.00,26.677,1.000,2018.0,05-31
249062,178073,2019-05-31,19.480909,26.525955,19.480909,516.749709,05580M,1.00,26.525,1.000,2019.0,05-31
249063,178073,2020-05-31,17.844750,25.883700,17.844750,461.888156,05580M,1.00,25.989,1.000,2020.0,05-31
249064,178073,2021-05-31,72.793500,27.195000,72.793500,1979.619232,05580M,1.00,27.195,1.000,2021.0,05-31
249065,178073,2022-05-31,50.469048,27.906143,50.469048,1408.396453,05580M,1.00,27.928,1.000,2022.0,05-31
249066,178073,2023-05-31,35.204545,28.094273,35.204545,989.046101,05580M,1.00,28.136,1.000,2023.0,05-31
249067,178073,2024-05-31,30.520909,30.295000,30.520909,924.630941,05580M,1.00,NaN,NaN,NaN,NaN

In [21]:
gv_356687_comp = df_mktcap_cshoq.loc[df_mktcap_cshoq_check['gvkey'] == 356687]
gv_356687_comp

,gvkey,date,prccm,cshom,prccm_vw,tot_mktcap_comp,cusip_co,ajexm,cshoq,ajexq,year,month_day
275393,356687,2023-05-31,1.010000,126.306000,1.010000,127.569060,046824,1.0,NaN,NaN,NaN,NaN
275394,356687,2024-05-31,0.540087,205.009227,0.540087,110.722735,046824,1.0,NaN,NaN,NaN,NaN

In [31]:
cshoq_001003 = cshoq_ffill_may.loc[cshoq_ffill_may['gvkey'] == 1003]
cshoq_001003

    gvkey        date  cshoq  ajexq  year month_day
9    1003  1984-05-31  2.683    1.0  1984     05-31
10   1003  1985-05-31  2.683    1.0  1985     05-31
11   1003  1986-05-31  2.683    1.0  1986     05-31
12   1003  1987-05-31  2.683    1.0  1987     05-31
13   1003  1988-05-31  2.683    1.0  1988     05-31
14   1003  1989-05-31  2.683    1.0  1989     05-31
15   1003  1990-05-31  2.683    1.0  1990     05-31

In [26]:
gv_001003_comp = df_mktcap_cshoq.loc[df_mktcap_cshoq_check['gvkey'] == 1003]
gv_001003_comp

,gvkey,date,prccm,cshom,prccm_vw,tot_mktcap_comp,cusip_co,ajexm,cshoq,ajexq,year,month_day
0,1003,2003-05-31,0.040000,2.683,0.040000,0.107320,000354,1.0,NaN,NaN,NaN,NaN
1,1003,2004-05-31,0.040000,2.683,0.040000,0.107320,000354,1.0,NaN,NaN,NaN,NaN
2,1003,2005-05-31,0.040000,2.683,0.040000,0.107320,000354,1.0,NaN,NaN,NaN,NaN
3,1003,2006-05-31,0.190227,2.683,0.190227,0.510380,000354,1.0,NaN,NaN,NaN,NaN
4,1003,2007-05-31,0.075000,2.683,0.075000,0.201225,000354,1.0,NaN,NaN,NaN,NaN
5,1003,2008-05-31,0.070000,2.683,0.070000,0.187810,000354,1.0,NaN,NaN,NaN,NaN
6,1003,2009-05-31,0.020000,2.683,0.020000,0.053660,000354,1.0,NaN,NaN,NaN,NaN
7,1003,2010-05-31,0.020000,2.683,0.020000,0.053660,000354,1.0,NaN,NaN,NaN,NaN
8,1003,2011-05-31,0.020000,2.683,0.020000,0.053660,000354,1.0,NaN,NaN,NaN,NaN
9,1003,2012-05-31,0.020000,2.683,0.020000,0.053660,000354,1.0,NaN,NaN,NaN,NaN
10,1003,2014-05-31,0.020000,2.683,0.020000,0.053660,000354,1.0,NaN,NaN,NaN,NaN
11,1003,2015-05-31,0.020000,2.683,0.020000,0.053660,000354,1.0,NaN,NaN,NaN,NaN
12,1003,2016-05-31,0.020000,2.683,0.020000,0.053660,000354,1.0,NaN,NaN,NaN,NaN

In [37]:
print(df_mktcap_crsp_monthly.loc[df_mktcap_crsp_monthly['permco'] == 5674])

        permno  permco     cusip        date  mrkcap_crsp  tot_mrkcap_crsp
8096     10517    5674  74319R10  2000-05-31    59.424844       272.686021
8097     10517    5674  74319R10  2000-06-30    58.211648       277.170585
8098     10517    5674  74319R10  2000-07-31          NaN              NaN
8099     10517    5674  74319R10  2000-08-31          NaN              NaN
8100     10517    5674  74319R10  2000-09-30          NaN              NaN
...        ...     ...       ...         ...          ...              ...
250208   78049    5674  00253520  2008-02-29          NaN              NaN
250209   78049    5674  00253520  2008-03-31          NaN              NaN
250210   78049    5674  00253520  2008-04-30          NaN              NaN
250211   78049    5674  00253520  2008-05-31  1069.780035      1245.309685
250212   78049    5674  00253520  2008-06-30  1066.813738      1241.759358

[196 rows x 6 columns]

In [18]:
df_mktcap_crsp_monthly['cusip6'] = df_mktcap_crsp_monthly['cusip'].str[:6]

In [20]:
print(df_mktcap_crsp_monthly.loc[df_mktcap_crsp_monthly['cusip6'] == '02149U'])

        permno  permco     cusip        date  mrkcap_crsp  tot_mrkcap_crsp  \
673634   92234   52681  02149U10  2008-05-31   480.190714       480.190714
673635   92234   52681  02149U10  2008-06-30   484.651071       484.651071

        cusip6
673634  02149U
673635  02149U

In [16]:
print(df_mktcap_crsp_monthly.loc[df_mktcap_crsp_monthly['permco'] == 52681])

        permno  permco     cusip        date  mrkcap_crsp  tot_mrkcap_crsp
673634   92234   52681  02149U10  2008-05-31   480.190714       480.190714
673635   92234   52681  02149U10  2008-06-30   484.651071       484.651071

### find gvkeys with mutiple cusips in mktcap_cshoq

In [8]:
count_df = df_mktcap_cshoq.groupby(['gvkey', 'date']).size().reset_index(name='count')

# Check for uniqueness
count_df['is_unique'] = count_df['count'] == 1

# Find pairs that are not unique
not_unique_pairs = count_df[count_df['is_unique'] == False]

# Display results
print("Pairs that are not unique:")
print(not_unique_pairs)

Pairs that are not unique:
         gvkey        date  count  is_unique
244       1076  1999-05-31      2      False
245       1076  2000-05-31      2      False
246       1076  2001-05-31      2      False
247       1076  2002-05-31      2      False
248       1076  2003-05-31      2      False
...        ...         ...    ...        ...
258708  183565  2015-05-31      2      False
264807  186169  2016-05-31      2      False
269546  194755  2017-05-31      2      False
274245  296944  2014-05-31      2      False
274246  296944  2015-05-31      2      False

[336 rows x 4 columns]

In [30]:
gv_marked = not_unique_pairs.drop_duplicates(subset='gvkey')
print(gv_marked)

         gvkey        date  count  is_unique
244       1076  1999-05-31      2      False
863       1239  1999-05-31      2      False
1048      1272  2006-05-31      2      False
3038      1823  1999-05-31      2      False
4232      2124  1999-05-31      2      False
...        ...         ...    ...        ...
248719  178073  2008-05-31      2      False
258703  183565  2010-05-31      2      False
264807  186169  2016-05-31      2      False
269546  194755  2017-05-31      2      False
274245  296944  2014-05-31      2      False

[81 rows x 4 columns]

### find different cusips under same permco in mktcap_crsp

In [46]:
# Group by permco and find unique ids under the same permco
df_mktcap_crsp_monthly['cusip6'] = df_mktcap_crsp_monthly['cusip'].str[:6]
df_permco = df_mktcap_crsp_monthly.groupby('permco')['cusip6'].unique().reset_index()

# Rename columns for better clarity
df_permco.columns = ['permco', 'unique_cusip']

df_multiple_cusips = df_permco[df_permco['unique_cusip'].apply(lambda x: len(x) > 1)]

In [47]:
print(df_multiple_cusips)

       permco                                       unique_cusip
498      3333                                   [676065, 46564T]
818      5674                                   [74319R, 002535]
992      6627                                   [065908, 05540P]
1220     7850                                   [208464, 12621E]
1292     8127                                   [013078, 013068]
1508     9048                                   [888896, 043634]
1698     9849                                   [03462H, 552768]
2743    12614                                   [386492, 386490]
2772    12676                                   [619908, 881451]
2795    12744                                   [N0605M, 03923E]
2990    13180                                   [64121R, 306137]
3568    14348                                   [M97601, M6787E]
4202    15412                                   [541419, H50430]
4519    15867                                   [29414D, 03232P]
4521    15869                                   [00207Q, 02004C]
5581    18434                                   [00505N, 00506P]
5863    20550                                   [95058W, 895927]
6254    21287                                   [652487, 90130A]
6311    21387                                   [038149, 038020]
6513    21793                                   [902549, 910047]
6943    29180                                   [21868Q, 21869X]
7091    29693                                   [50076E, 50075Q]
7497    30929                                   [G491BT, 46127U]
7516    30964                                   [257661, 22541L]
7568    31600                                   [464286, 46434G]
8276    37145                                   [09856Q, 67555N]
8336    37493                   [464287, 464288, 464285, 46435G]
8581    38445                                   [G6797E, 67107W]
8630    39147                           [78464A, 86330E, 78468R]
8791    41243                                   [02390A, 02364W]
8940    41998                           [530718, 53071M, 74915M]
9114    43027                                   [706902, 70706P]
9364    44072                   [46137V, 46137Y, 73935X, 73936G]
9586    44891                                   [05969F, 05969A]
9972    46110                                   [74439M, 30233G]
10487   50699                                   [92189F, 92189H]
10518   50838                           [337344, 337345, 33733E]
10526   50846           [74347R, 74347B, 74347G, 74348A, 74347X]
10910   52257  [33733C, 33733F, 33734K, 33734Y, 33735B, 33735...
11219   52902           [73936T, 46138G, 46138E, 73937B, 73936Q]

In [48]:
print(df_mktcap_crsp_monthly.loc[df_mktcap_crsp_monthly['permco'] == 37493])

        permno  permco     cusip        date  mrkcap_crsp  tot_mrkcap_crsp  \
541412   88215   37493  46428720  2000-05-31   538.714258      1302.636238
541413   88215   37493  46428720  2000-06-30   563.653130      2015.995905
541414   88215   37493  46428720  2000-07-31          NaN              NaN
541415   88215   37493  46428720  2000-08-31          NaN              NaN
541416   88215   37493  46428720  2000-09-30          NaN              NaN
...        ...     ...       ...         ...          ...              ...
674657   92586   37493  46428824  2008-06-30    10.444228    257212.591278
675163   92718   37493  46428819  2008-06-30     4.888000    248287.882518
675164   92720   37493  46428822  2008-06-30     5.105925    248287.882518
675165   92721   37493  46428823  2008-06-30     5.111750    248287.882518
675167   92723   37493  46428817  2008-06-30     4.777750    248287.882518

        cusip6
541412  464287
541413  464287
541414  464287
541415  464287
541416  464287
...        ...
674657  464288
675163  464288
675164  464288
675165  464288
675167  464288

[6359 rows x 7 columns]